@model POS_aplicacao.Models.Vendas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpregadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpregadoID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VendaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
