@model IEnumerable<POS_aplicacao.Models.Vendas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpregadoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpregadoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendaID })
        </td>
    </tr>
}

</table>
